{% extends['layout/layout.html.twig'] %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Om Fragt & Budcentral Ringsted
                Vognparken
                Kontakt
                FRAGT- OG BUDKØRSEL OVER HELE LANDET
                I BÅDE LASTBILER OG VAREVOGNE</h1>
            <p>Fragt & Budcentral Ringsted kan med 20 års erfaring indenfor branchen og en fast stab af pålidelige medarbejdere, tilbyde hurtig, sikker og professionel levering til tiden – til konkurrencedygtige priser. Vi er flexible og tager altid udgangspunkt i vores kunders behov.
            </p>
            <p><span style="font-weight: bold">Daglige ture;</span> Ringsted - hovedstadsområdet, tur-retur.
                ralph lauren store polo pas cher ralph lauren polo polo outlet online polo ralph lauren sale polo pas cher ralph lauren polo outlet ralph lauren outlet doudoune ralph lauren ralph lauren outlet store Expreskørsel og faste kørselsaftaler efter ønske.
                Lagerplads til opbevaring.</p>
        </div>
    </div>
{% endblock %}