{% extends['layout/layout.html.twig'] %}

{% block title %}
    Vognparken
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>VOGNPARKEN</h1>
            <p>Fragt & Budcentral Ringsted råder over en varieret vognpark.
                Vi kommer derfor også frem til tiden på svært tilgængelige steder
                som f.eks. på de smalle stræder i det indre København.
            </p>
            <p>De mindre biler egner sig også godt til de små, hurtige express
                leveringer, man kan få brug for hvis produktionstiden har været
                lidt længere end forventet.
            </p>
        </div>
    </div>
{% endblock %}